<html lang="en">
  {% include "header.njk" %}
  <body>
    <div class="container">
    <a href="/new" class="send-button">Send your message!</a>
      {% for message in messages %}
        <div class="card">
          <p class="card-message"> {{ message.text }}</p>
          <div class="card-bottom">
            <p class="card-author"> {{ message.user }} </p>
            <p class="card-date"> {{ message.added }} </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>