body {
  display: flex;
  justify-content: center;
  padding: 50px;
}


/* HOME */

.send-button{
  text-align: center;
  background-color: black;
  color: white;
  border: 0px;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.container{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 25%;
}

.card {
  width: 100%;
  height: auto;
  border: 2px solid black;
  margin: 5px;
}

.card-author {
  margin: 5px;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  float: left;
}

.card-date{
  font-size: 1em;
  margin: 5px;
  float: right;
  font-family: 'Open Sans', sans-serif;
}

.card-message {
  margin: 20px;
  font-weight: bold;
  font-size: 3em;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
}

.card-bottom{
  display: inline;
}

/* END HOME */


/* FORM */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
}

input{
  padding: 10px;
}

textarea{
  height: 250px;
  padding: 10px;
}

input, textarea{
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.submit {
	background-color:#44c767;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  border: 1px solid #44c767;
}
.submit:hover {
	background-color:#5cbf2a;
}
.submit:active {
	position:relative;
	top:1px;
}


/* END FORM */